# Ignore all 
* 

# Unignore all with extensions *.c *.h *.txt y con Makefile
!**/www/
!**/www/**/
!**/www/**/*

!*.c
!*.h 
!Makefile 
!*.txt
!*.cpp
!*.hpp
!*README*
!*make*
!*suite*
!*.asm
!*.s
!*.inc
!*.ld
!.gitignore
!*.gdb
!*.seer
!launch*.json
!tasks*.json
# Unignore all dirs
!*/

